body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #777;
	background: url("/outdoor/javax.faces.resource/images/ui-bg_fine-grain_10_eceadf_60x60.png.xhtml?ln=primefaces-pepper-grinder") repeat scroll 50% 50% #ECEADF;
	padding-top: 30px;
}

.page {
	background-image:url('../Images/top.jpg');
	background-position:center top;
	background-repeat:no-repeat;
	background-color: #F3F3F3;
	margin-right: auto; 
	margin-left: auto; 
	width: 90%;
	border: solid 1px #777;
	padding: 200px 15px 50px 15px;
	
	-webkit-box-shadow: 6px 6px 10px 0px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    6px 6px 10px 0px rgba(50, 50, 50, 0.9);
	box-shadow:         6px 6px 10px 0px rgba(50, 50, 50, 0.9);
}

.globalMenu{
	margin-bottom: 40px;	
}
form#gpLangChange {
    border:0px;
    margin:0px;
    padding:0px;
}
div#viewerDiv {
    width:80%;
    height:600px;
    background-color:white;
    background-image:url(http://api.ign.fr/geoportail/api/js/latest/theme/geoportal/img/loading.gif);
    background-position:center center;
    background-repeat:no-repeat;
    margin: 0 auto;
    margin-top: 20px;
}

.formValidation{
	text-align: center;
}
#formSki{
	width: 400 px;
}
#formSki .l{
	width: auto;
}
#formSki .r{
	width: auto;
}

.selectProfiles{
	width: 300px;	
}

#displayActivities{
	margin: 40px 0 0 0;
}

#formulaireProfile table{
	width: 400px;
	text-align: right;
}

.activity_date{
	width: 80px;
}

.activity_name{
	width: 120px;
}

.activity_action{
	width: 120px;
}

.form_name{
	width: 600px;
}

.form_comment{
	width: 600px;
}

.jqplot-yaxis{
	margin-right: 40px!important;
}

.jqplot-title {
	top: -10px!important;
}

.error{ 
	font-weight:bold;
	color: #ff0000;
}

<!-- Detail activité-->
.ui-scrollpanel-content{
	padding: 10px!important;
}
.activityDetail{
	min-width: 400px;
	max-width: 800px;
	width: auto;
	min-height: 400px;
	max-height: 750px;
	height: auto;
}
.scrollDetail{
	width: 100%;
	min-height: 300px;
	max-height: 750px;
	height: auto;
	padding: 10px;
}
.detailTitle{
	font-weight: bold;
}
#tabAlbum{
	height : 400px;
}

<!-- StatistiqueŽ -->

.statsAlign{
	float: left;
	width: 300px;
	height: 300px;
}
.clear { 
	clear: both; 
}