body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #777;
	background-color: #E3E3E3;
	padding-top: 30px;
}

.page {
	background-image:url('../Images/top.jpg');
	background-position:center top;
	background-repeat:no-repeat;
	background-color: #F3F3F3;
	margin-right: auto; 
	margin-left: auto; 
	width: 90%;
	border: solid 1px #777;
	padding: 200px 15px 50px 15px;
	
	-webkit-box-shadow: 6px 6px 10px 0px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    6px 6px 10px 0px rgba(50, 50, 50, 0.9);
	box-shadow:         6px 6px 10px 0px rgba(50, 50, 50, 0.9);
}

.globalMenu{
	margin-bottom: 40px;	
}

.formValidation{
	text-align: center;
}
#formSki{
	width: 400 px;
}
#formSki .l{
	width: auto;
}
#formSki .r{
	width: auto;
}

.selectProfiles{
	width: 300px;	
}

#displayActivities{
	margin: 40px 0 0 0;
}

#formulaireProfile table{
	width: 400px;
	text-align: right;
}

.activity_date{
	width: 80px;
}

.activity_name{
	width: 120px;
}

.activity_action{
	width: 120px;
}

.form_name{
	width: 600px;
}

.form_comment{
	width: 600px;
}

.jqplot-yaxis{
	margin-right: 40px!important;
}

.jqplot-title {
	top: -10px!important;
}

.error{ 
	font-weight:bold;
	color: #ff0000;
}

<!-- Detail activité -->
.ui-scrollpanel-content{
	padding: 10px!important;
}
.activityDetail{
	width: 90%!important;
	height: auto;
}
.scrollDetail{
	width: 100%;
	height: 700px;
	padding: 10px;
}
.detailTitle{
	font-weight: bold;
}
.contentGalleria{
	margin: 0 auto;
}
.picturesGallery{
	width: 100%;
	margin-top: 40px;
	text-align: center;
}
.ui-galleria-panel-wrapper{
	width: 100%!important;
}